.login-card{
    width: 400px;
    height: 200px;
    background-color: rgb(55, 21, 43);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.center-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; /* optional */
}